:root {
  --very-dark-blue: hsl(216, 12%, 8%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --orange-primary: hsl(25, 97%, 53%);
}

body {
  font-size: 15px;
  background-color: var(--very-dark-blue);
  font-family: "overpass", sans-serif;
  place-content: center;
}

#initial-view,
#final-view {
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );

  width: 100%;
  padding: 1.025em;
  max-width: 400px;
  min-width: 250px;
  border-radius: 20px;
  margin: 10em auto 3em;
  overflow: hidden;
  /* place-content: center; */
}

.rating-state {
  width: 100%;
  /* padding: auto; */
}

.image-star {
  height: 48px;
  width: 48px;
  background: var(--dark-blue);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5em;
}

h1 {
  color: var(--white);
  font-weight: 200;
  line-height: 35px;
  padding: 0.725em;
}

p {
  color: var(--light-grey);
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 24px;
  padding: 0 1.25em;
}

.ratings {
  margin: 1.5em 1em;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

li {
  color: var(--light-grey);

  height: 50px;
  width: 50px;
  background: var(--dark-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li:hover {
  background-color: var(--orange-primary);
  color: var(--white);
  cursor: pointer;
}


li.active{
  background-color: var(--light-grey);
  color: var(--white);
}

/* .rating-btn {
  border: none;
  background-color: transparent;
  color: var(--light-grey);
} */
button {
  background-color: var(--orange-primary);
  color: var(--white);
  margin: 0.285em 1.5em;
  padding: 0.5em;
  border-radius: 30px;
  width: 88%;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  font-family: inherit;
  place-content: center;
}

button:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange-primary);
}

/* -------------------final rating ------------- */

.final-rating {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final-img {
  width: 50%;
  padding: 1em;
}

.result {
  border-radius: 50px;
  background-color: var(--dark-blue);
  color: var(--orange-primary);

  padding: 0.5em 1em;
}

.hidden {
  display: none;
}

/* ------------------------------------------------------- */

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
